<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms.sitterapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:process="it.uniba.di.sms.sitterapp"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity android:name=".DemoActivity"
            android:theme="@style/AppTheme.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".principale.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.NoActionBar">
        </activity>
        <activity
            android:name=".principale.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.NoActionBar" />
        <activity
            android:name=".registrazione.RegistrationActivity"
            android:label="@string/registrazione"
            android:parentActivityName=".principale.LoginActivity" />
        <activity
            android:name=".profilo.ProfiloPrivatoActivity"
            android:screenOrientation="portrait"
            android:label="@string/profilo"
            android:parentActivityName=".principale.HomeActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.Light.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:label="@string/chat"
            android:parentActivityName=".principale.HomeActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.Light.NoActionBar" />
        <activity
        android:name=".chat.ChatConversationActivity"
        android:screenOrientation="portrait"
        android:label="@string/chat"
        android:parentActivityName=".chat.ChatActivity"
        android:windowSoftInputMode="stateHidden"
        android:theme="@style/AppTheme.Light.NoActionBar" />

        <activity
            android:name=".principale.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.NoActionBar" />

        <activity
            android:name=".appuntamenti.IngaggiActivity"
            android:screenOrientation="portrait"
            android:label="@string/engagements"
            android:theme="@style/AppTheme.Light.NoActionBar" />
        <activity
            android:name=".profilo.ProfiloPubblicoActivity"
            android:screenOrientation="portrait"
            android:label="@string/profilo" />
        <activity
            android:name=".recensioni.RecensioniActivity"
            android:screenOrientation="portrait"
            android:label="@string/review"
            android:parentActivityName=".principale.HomeActivity"
            android:theme="@style/AppTheme.Light.NoActionBar" />
        <activity
            android:name=".scriviRecensione.IngaggiDaRecensireActivity"
            android:screenOrientation="portrait"
            android:label="@string/scrivi_recensione"
            android:parentActivityName=".principale.HomeActivity"
            android:theme="@style/AppTheme.Light.NoActionBar" />
        <activity
            android:name=".scriviRecensione.ScriviRecensioneActivity"
            android:screenOrientation="portrait"
            android:label="@string/review"
            android:parentActivityName=".scriviRecensione.IngaggiDaRecensireActivity" />
        <activity
            android:name=".principale.NewNoticeActivity"
            android:screenOrientation="portrait"
            android:label="@string/nuovoAnnuncio"
            android:parentActivityName=".appuntamenti.IngaggiActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".recensioni.RecensioniPubblicoActivity"
            android:screenOrientation="portrait"
            android:label="@string/review" />
        <activity
            android:name=".appuntamenti.SceltaSitter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.NoActionBar" />



        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter> </activity>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>



    </application>

</manifest>