<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms.sitterapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:process="it.uniba.di.sms.sitterapp"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principale.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principale.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registrazione.RegistrationActivity"
            android:label="@string/registrazione"
            android:parentActivityName=".Principale.LoginActivity" />
        <activity
            android:name=".Profilo.ProfiloPrivatoActivity"
            android:label="@string/profilo"
            android:parentActivityName=".Principale.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Principale.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Appuntamenti.IngaggiActivity"
            android:label="@string/engagements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profilo.ProfiloPubblicoActivity"
            android:label="@string/profilo" />
        <activity
            android:name=".Recensioni.RecensioniActivity"
            android:label="@string/feedback"
            android:parentActivityName=".Principale.HomeActivity" />

        <activity
            android:name=".Feedback.IngaggiSvoltiActivity"
            android:label="@string/scrivi_recensione"
            android:parentActivityName=".Principale.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Feedback.ScriviRecensioneActivity"
            android:label="@string/feedback"
            android:parentActivityName=".Principale.HomeActivity" />

        <activity
            android:name=".Principale.NewNoticeActivity"
            android:label="@string/nuovoAnnuncio"
            android:parentActivityName=".Appuntamenti.IngaggiActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recensioni.RecensioniPubblicoActivity"
            android:label="@string/feedback" />
        <activity
            android:name=".Appuntamenti.candidati"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>