<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms.sitterapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process="it.uniba.di.sms.sitterapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principale.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principale.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Registrazione.RegistrationActivity" />
        <activity
            android:name=".Profilo.ProfiloPrivatoActivity"
            android:parentActivityName=".Principale.HomeActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/profilo"/>
        <activity
            android:name=".Appuntamenti.NoticeDetailActivity"
            android:parentActivityName=".Appuntamenti.IngaggiActivity"
            android:label="@string/dettaglioAnnuncio"/>
        <activity
            android:name=".Principale.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Appuntamenti.IngaggiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/engagements"/>
        <activity
            android:name=".Profilo.ProfiloPubblicoActivity"
            android:parentActivityName=".Appuntamenti.NoticeDetailActivity"
            android:label="@string/profilo"/>
        <activity
            android:name=".Recensioni.RecensioniActivity"
            android:parentActivityName=".Principale.HomeActivity"
            android:label="@string/feedback"/>

        <activity android:name=".Feedback.FeedbackActivity"
            android:parentActivityName=".Principale.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/scrivi_recensione"/>

        <activity android:name=".Feedback.ReviewpageActivity"
            android:parentActivityName=".Principale.HomeActivity"
            android:label="@string/feedback"
            />

        <activity
            android:name=".Principale.NewNoticeActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/nuovoAnnuncio"/>
    </application>

</manifest>